<div>
<h2> Product App</h2>


<a routerLink = '/' class = 'button' routerLinkActive = "success" [routerLinkActiveOptions] = '{exact: true}'>Home</a>
<a routerLink = '/products' class = "button " routerLinkActive = "success">Product</a>

<!-- <a routerLink = '/cart' class = "button" routerLinkActive = "success" >Cart [{{totalCount}}]</a> -->
<a routerLink = '/cart' class = "button" routerLinkActive = "success" >Cart [{{cartItems.length}}]</a>

<a routerLink = '/about' class = "button" routerLinkActive = "success">About</a>
<a routerLink = '/contact' class = "button" routerLinkActive = "success" >Contact</a>

<button> {{totalCount}}</button>

<button (click) = "emptyCart()"> Empty Cart</button>

<!-- <a routerLink = '/login' class = "button" 
*ngIf = '!(authSource$ | async)'
routerLinkActive = "success">Login</a>

<button (click) = "logout()" *ngIf = 'authSource$ | async' >Logout</button> -->


<a routerLink="/login"
routerLinkActive="success"
class="button"
*ngIf="!(authSource$ | async)"
>
Login
</a>

<button (click)="logout()"
     *ngIf="(authSource$ | async)"
>
Logout
</button>


<hr />
</div>