
<h2>Product List [Cart {{cartItems.length}}]</h2>
  <div class="table-responsive">
  <table class="table  table-hover">
      <thead class="thead-dark">
    <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Year</th>
    <th>Weight</th>
    <th>Brand Id</th>
    <th>Delete</th>
    </tr>
    </thead>

    <tr *ngFor = 'let product of products'>
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.year}}</td>
      <td>{{product.weight}}</td>
      <td>{{product.brandId}}</td>
      <td>
        <button (click) = deleteProduct(product)>Delete</button>
        <button (click) = addToCart(product)>Add to Cart</button>

      </td>
    </tr>


    
    </table>
  </div>
