<div class = 'container'>
   <h2> Product Home</h2>

   <!-- <div>
     <a routerLink = '/products' ngClass = 'button' routerLinkActive = 'success' [routerLinkActiveOptions] = '{exact: true}'>List</a>
      <a routerLink = '/products/create' class = 'button' routerLinkActive = 'success'>Create</a>
      <a routerLink = '/products/search' class = 'button' routerLinkActive = 'success'>Search</a>
   </div> -->

   <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="/products" routerLinkActive = 'success' [routerLinkActiveOptions] = '{exact: true}'>List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = '/products/create' routerLinkActive = 'success'>Create</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = '/products/search' routerLinkActive = 'success'>Search</a>
      </li>
     
    </ul>

   <router-outlet>

   </router-outlet>
  </div>
